<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ entry.title }} | {{ conf.sitename }}</title>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js "></script>
<link rel="stylesheet" href="/style.css">
</head>
</body>
  <div class="main">
    <a href="/">
    <div class="banner">
      <h1 class="banner">elijah caine</h1>
      <img src="https://farm6.staticflickr.com/5813/20476814090_97752519fb_o.jpg" class="banner"></img>
    </div>
    </a>
    <nav>
      <div class="dropdown navbar-right my-buttons">
        <div class="btn-group">
          <a href="/" class="btn btn-default">main</a>
          <a href="/blog" class="btn btn-info">blog</a>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            More
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuMore">
            <li><a href="/reading/">reading</a></li>
            <li><a href="/liveblog/">liveblog</a></li>
            <!--li><a href="#">naNoWriMo</a></li-->
            <li role="separator"  class="divider"></li>
            <li><a href="/code/">code</a></li>
            <li><a href="/videos/">videos</a></li>
            <li><a href="/renders/">renders</a></li>
            <li><a href="/slides/">slides</a></li>
            <li><a href="/other/">other</a></li>
            <li  role="separator"  class="divider"></li>
            <li><a href="/osl/">open  soruce  lab</a></li>
            <li><a href="/lug/">linux  users  group</a></li>
          </ul>
        </div>
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuLinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Links
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinks">
          <li><a href="https://github.com/ElijahCaine">Github</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/resume.pdf">Resume</a></li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}
      Photo Credit to <a href="https://www.flickr.com/photos/123432654@N05/">Sam Hall</a> |
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
      </a>
      This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
           Creative Commons Attribution 4.0 International License
        </a>.
      {% endblock %}
    </footer>
  </div>
<body>
</html>
