{% extends 'base.html' %}

{% block content %}
  <article>
      <header>
          <h1>
              <a href="{{ env.path + entry.permalink }}" rel="bookmark canonical">{{ entry.title }}</a>
          </h1>
      </header>

  {% for tag in env.tags %}
      {{ tag }}
      {{ env.tags }}
  {% endfor %}

      {{ entry.content }}

  </article>
{% endblock %}

{% block footer %}
  This page last updated on <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%Y-%m-%d") }}</time> |
  {{ super() }}
{% endblock %}
