@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
.main {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}

nav {
  padding-top: 1em;
  width: 100%;
}

footer {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: .1em solid;
}

.banner {
  margin: 0 0 0 0;
}

.banner img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.banner h1 {
  position: absolute;
  z-index: 1;
  color: white;
  opacity: 0.75;
  font-size: 3em;
}

.banner:hover h1 {
  position: absolute;
  z-index: 1;
  color: white;
  opacity: 1;
  font-size: 3em;
}

.my-buttons {
  padding-right: 1em;
}

footer {
  font-size: 0.9em;
}

.figure {
  padding: 1em;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.align-right {
  float: right;
  text-align: right;
}

.align-left {
  float: left;
  text-align: left
}
