body {
    font-family: "DomaineText",Georgia,serif;;
    max-width: 97%;
    font-size: 110%;
    width: 100ch;
}

h1, h2, h3, h4, h5, h6, {
    font-family: "Lato", sans-serif; 
}

nav {
    background-color: black;
    color: white;
    font-weight: 900;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    background-color: black;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-roll li {
    list-style-type: none;
}

nav li {
    display: inline;
}

footer {
    font-size: 75%;
}

.align-center {
    margin: 0 auto;
}

.next {
    float: right;
}

.code {
    background-color: #EEE;
}

body {
    margin: 0 auto;
}
