{%- macro table_of_contents(toc, max_level) %}
<ul>
  {%- for header in toc %}
    <li>
      <a href="{{ header.permalink | safe }}">{{ header.title }}</a>
        {%- if header.children and header.level < max_level %}
          {{- self::table_of_contents(toc=header.children, max_level=max_level) | indent() | safe() }}
        {%- endif %}
    </li>
  {%- endfor %}
</ul>
{%- endmacro %}

{% macro post_item(page) %}
<li class=post>
  <div class=title>
    <a href="{{ page.path }}">{{ page.title }}</a>
  </div>
  <div class=info>
    <span class=date>
      <time datetime="{{ page.date | date(format='%+') }}" pubdate>
        {{ page.date | date(format=config.extra.date_format) }}
      </time>
    </span>
    <span class=tags>
      {% for taxonomy in config.taxonomies %}
      {% for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind=taxonomy.name, name=tag) }}">#{{ tag }}</a>
      {% endfor %}
      {% endfor %}
    </span>
  </div>
</li>
{% endmacro post_item %}
