{% extends "base.html" %}

{% block main %}
<style>
main {
    width: 100ch;
}
</style>
<main>
  {% include "header.html" -%}
  <h1>{{ page.title }}</h1>
  <p class="console" class="side">
    published {{ page.date }}
    {%- if page.updated %}
      | updated {{ page.updated }}
    {%- endif -%}
    {%- if page.extra.hours %}
      | {{ page.extra.hours }} hour(s) played
    {% endif -%}
    {%- if page.taxonomies.tags %}
      | tags: {% include "tags.html" %}
    {%- endif -%}
  </p>
  {% if page.toc %}
    <details>
    <summary>Table of Contents</summary>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
  </details>
  {% endif %}
  {{ page.content | safe }}
  {% include "footer.html" -%}
</main>
{% endblock %}
