<style>
ul.stuff>li {
    padding-left: 0;
    list-style: none;
}

blockquote {
    margin: 0;
    border-left: 3px solid black;
    padding-left: 16px;
}

ul {
    padding-left: 1ch;
    list-style: square;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    /* todo */
}

nav {
    /* todo */
}

main {
    max-width: 100%;
    padding: 1ch;
}

footer{
    /* todo */
}

h1,h2,h3,h4,h5,.console,ul.stuff {
    font-family:
        /* Modern macOS & iOS system monospace */
        "SFMono-Regular",
        /* Windows system monospace (newer) */
        "Consolas",
        /* Windows legacy monospace fallback */
        "Courier New",
        /* Generic monospace fallback */
        monospace;
}

li.post {
    padding-top: 1ch;
}
p.description {
    margin: 0px;
}
a.post {
    font-weight: bold;
}

.side {
    color: #333;
}

.description {
    color: #333;
}

p>img {
    max-width: 100%;
    display: block;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

img.bg {
    float: right;
    width: 100%;
}
</style>
